/* Variables */

:root {
  --font--serif: 'adobe-caslon-pro';
  --font--sans: 'futura-pt';

  --color--navy: #23303C;
  --color--gray: #D1D4CE;
  --color--moss: #62A887;
  --color--red: #BB5C4F;
  --color--background: #F7F7F7;
  --color--background--med: #F1F1F1;

  --max-width: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: var(--color--background);
}
