@import '../../../styles/main.css';

.container {
  max-width: var(--max-width);
  margin: 0 auto 90px auto;
  padding: 0 15px;
}

.form {
  border: 2px solid var(--color--navy);
  border-radius: 4px;
  box-shadow: 1px 2px 0 var(--color--gray);
  display: flex;
  max-width: 800px;
  overflow: hidden;
}

.input {
  background-color: var(--color--background);
  border: none;
  font-size: 18px;
  font-family: var(--font--sans);
  line-height: 1;
  padding: 17px 30px 20px 30px;
  width: 100%;
}

.button {
  background-color: var(--color--navy);
  border: none;
  color: white;
  cursor: pointer;
  font-family: var(--font--sans);
  font-size: 18px;
  font-weight: 500;
  width: 200px;
}
